<a href="<%= user_path(current_user) %>">
<center>  <%= link_to image_tag current_user.image_url, :size => "300x300", :id=>"profilepicture" %> </center>
</a>
</br>
<h1><center><%= current_user.username %></center></h1>